ion-card{
  display: flex;
  flex-direction: column;
  width: 100% !important;
}

ion-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
